<div class="container p-5">
  <div class="row">

    <div class="col-md-5">
      {{> alumnos/alumnoForm }}
    </div>

    <div class="col-md-7">
      {{> alumnos/alumnoTable }}
    </div>
  </div>
</div>